<div :class="classes" @click="onClick($event)">
    <div class="card-face">
        <div class="title-container">
            <span class="title">{{title}}</span>
        </div>
        <div class="right-icon-container">
            <action-icon-button v-if="hasRightIconContent" :type="iconType" @onClick="onIconClick($event)"></action-icon-button>
            <div class="hidden-icon" v-if="!hasRightIconContent"></div>
        </div>
    </div>
    <div :class="bodyContainerClasses" v-if="hasBodyContent">
        <slot name="body" class="body" :is-selected="isSelected"></slot>
    </div>
</div>