.delete-button {
    width: 20px;
    height: 20px;
    background-color: #282828;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 1.5;
    padding-left: 7px;
    cursor: pointer;
    font-family: OpenSans;

    &:hover {
        background-color: #686868;
    }
    
    &:after {
        content: 'x';
    }
}