.integrations {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.configured, .discovered {
    display: flex;
    flex-direction: column;
    height: 50%;
}

.title {
    font-family: OpenSans;
}

td {
    padding: 5px;
    vertical-align: middle;
}