<div class="ir-learning-page">
    <h1 class="title">IR Learning</h1>
    <div class="message">
        Select the dock to use to turn on IR learning:
    </div>
    <div class="dock-container">
        <card-list @onSelected="onDockSelected">
            <card v-for="(dock, index) in docks" :key="index" :title="dock.name">
                <template v-slot:leftIcon>
                    <div class="dock-icon"></div>
                </template>
                <template v-slot:rightIcon>
                    <div class="select-tick"></div>
                </template>
            </card>
        </card-list>
        <action-button v-if="showNextButton" text="Next" class="next-button" @onClick="onNext"></action-button>
    </div>
</div>