<div class="ir-learning-page">
    <div class="container">
        <div class="selections">
            <h1 class="title">IR Learning</h1>
            <div class="dock-selection">
                <div class="message">
                    Select the dock:
                </div>
                <drop-down :items="docks" :selectedItem="selectedDock" @onChanged="onDockSelected"></drop-down>
            </div>
            <div class="remote-selection" v-if="isDockSelected">
                <div class="message">
                    Select the remote:
                </div>
                <drop-down ref="remote-drop-down" :items="remotes" :selectedItem="selectedRemote" @onChanged="onRemoteSelected"></drop-down>
                <div class="new-remote" v-if="showNewRemoteInput">
                    <text-input v-model="newRemote.friendly_name" mode="edit" watermark="New Remote Name" @onSave="onNewRemoteCreated"></text-input>
                </div>
            </div>
            <div class="feature-selection" v-if="isRemoteSelected && features.length > 0">
                <div class="message">
                    Select the features of the remote:
                </div>
                <div class="features">
                    <card-list :dragOptions="featuresDragOptions" :dragList="features" :disableSelect="true">
                        <small-card v-for="(feature, index) in features" :key="index" :title="feature" :data-id="feature"></small-card>
                    </card-list>
                </div>
            </div>
        </div>
        <remote-control v-if="isRemoteSelected" :scrollable="false" message="Drag features into this bit">
            <div class="remote-features">
                <draggable v-bind="dropZoneOptions" :list="dropZoneList" class="feature-drop-zone" @add="onFeatureDropped">
                    Drag a feature here
                </draggable>
                <div class="remote-card" v-if="dropZoneList.length > 0">
                    <div class="header">
                        <icon type="remote"></icon>
                        <div class="title">
                            {{selectedRemote.text}}
                        </div>
                    </div>
                    <div class="content">
                        <swiper :options="swiperOptions">
                            <swiper-slide v-if="powerFeatureSelected || sourceFeatureSelected">
                                <div class="feature-button-pad" v-if="powerFeatureSelected">
                                    <div class="feature-header">
                                        <div class="title">
                                            Power Control
                                        </div>
                                        <action-icon-button type="delete"></action-icon-button>
                                    </div>
                                    <div class="buttons">
                                        <div class="button icon green">
                                            <i class="icon icon-power-on"></i>
                                        </div>
                                        <div class="button icon red">
                                            <i class="icon icon-power-on"></i>
                                        </div>
                                        <div class="button icon">
                                            <i class="icon icon-power-on"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="feature-button-pad" v-if="sourceFeatureSelected">
                                    <div class="feature-header">
                                        <div class="title">
                                            Source Selection
                                        </div>
                                        <action-icon-button type="delete"></action-icon-button>
                                    </div>
                                    <div class="buttons">
                                        <div class="button icon green">
                                            <i class="icon icon-power-on"></i>
                                        </div>
                                    </div>
                                </div>
                            </swiper-slide>
                            <swiper-slide v-if="mediaControlFeatureSelected">
                                <div class="feature-button-pad">
                                    <div class="feature-header">
                                        <div class="title">
                                            Media Controls
                                        </div>
                                        <action-icon-button type="delete"></action-icon-button>
                                    </div>
                                    <div class="buttons">
                                        <div class="button number">1</div>
                                        <div class="button number">2</div>
                                        <div class="button number">3</div>
                                    </div>
                                    <div class="buttons">
                                        <div class="button colour red"></div>
                                    </div>
                                </div>
                            </swiper-slide>
                            <swiper-slide v-if="numberPadFeatureSelected">
                                <div class="feature-button-pad">
                                    <div class="feature-header">
                                        <div class="title">
                                            Number Pad
                                        </div>
                                        <action-icon-button type="delete"></action-icon-button>
                                    </div>
                                    <div class="buttons">
                                        <div class="button number">1</div>
                                        <div class="button number">2</div>
                                        <div class="button number">3</div>
                                        <div class="button number">4</div>
                                        <div class="button number">5</div>
                                        <div class="button number">6</div>
                                        <div class="button number">7</div>
                                        <div class="button number">8</div>
                                        <div class="button number">9</div>
                                        <div class="button number">0</div>
                                    </div>
                                    <div class="buttons">
                                        <div class="button colour red"></div>
                                        <div class="button colour green"></div>
                                        <div class="button colour yellow"></div>
                                        <div class="button colour blue"></div>
                                    </div>
                                </div>
                            </swiper-slide>
                            <div class="swiper-pagination" slot="pagination"></div>
                        </swiper>
                    </div>
                </div>
            </div>
        </remote-control>
    </div>
</div>