<div class="contents">
    <div class="title">
        {{page.name}}
    </div>
    <ul>
        <li v-for="group in page.groups" :key="group.id">
            <div class="name-container">
                <div>{{group.name}}</div>

                <ul class="item-list">
                    <li class="item added" v-for="entity in group.entities" :key="entity.entity_id">
                        <div class="icon-container">
                            <span class="icon" :class="entity.type"></span>
                        </div>
                        <div class="name-container">
                            <div class="name">{{entity.friendly_name}}</div>
                        </div>
                        <div class="delete-button-container">
                            <action-icon-button @onClick="onDeleteEntity(entity)"></action-icon-button>
                        </div>
                    </li>
                    <li class="item drop-zone">
                        <div class="name-container">
                            <div class="name">Drag an entity here</div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="item drop-zone">
            <div class="name-container">
                <div class="name">Drag a group here</div>
            </div>
        </li>
    </ul>
</div>