.settings-container {
    width: 740px;
}

.row {
    width: 100%;
    display: flex;
}

.settings-item, .settings-description {
    width: 48%;
    margin-right: 2%;
}

.settings-description {
    color: #ffffff;
    opacity: 0.3;
    font-size: 12px;

    .text {
        position: relative;
        top: 50%;
        transform: translateY(calc(-50% + 10px));
    }
}

.card /deep/ .title-container {
    width: 100%;
} 
