<div>
    <h1 class="title">
        {{$t('pages.settings.title')}}
    </h1>
    <div class="settings-container">
        <div class="row">
            <card :title="$t('pages.settings.darkMode.title')" class="settings-item" @onClick="updateDarkMode(!darkMode)">
                <template v-slot:rightIcon>
                    <switch-toggle v-model="darkMode" @onToggle="updateDarkMode"></switch-toggle>
                </template>
            </card>
        </div>
        <div class="row">
            <card :title="$t('pages.settings.autoBrightness.title')" class="settings-item" @onClick="updateAutoBrightness(!autoBrightness)">
                <template v-slot:rightIcon>
                    <switch-toggle v-model="autoBrightness" @onToggle="updateAutoBrightness"></switch-toggle>
                </template>
            </card>
            <div class="settings-description">
                <div class="text">
                    {{$t('pages.settings.autoBrightness.description')}}
                </div>
            </div>
        </div>
        <div class="row">
            <drop-down
                class="language-select"
                @onChanged="onLanguageSelected"
                :selected-item="selectedLanguage"
                :items="availableLanguages">
            </drop-down>
        </div>
    </div>
</div>