<div>
    <h1 class="title">Settings</h1>
    <div class="settings-container">
        <div class="row">
            <card :title="$t('settingsPage.darkMode')" class="settings-item" @onClick="updateDarkMode(!darkMode)">
                <template v-slot:rightIcon>
                    <switch-toggle v-model="darkMode" @onToggle="updateDarkMode"></switch-toggle>
                </template>
            </card>
        </div>
        <div class="row">
            <card :title="$t('settingsPage.autoBrightness')" class="settings-item" @onClick="updateAutoBrightness(!autoBrightness)">
                <template v-slot:rightIcon>
                    <switch-toggle v-model="autoBrightness" @onToggle="updateAutoBrightness"></switch-toggle>
                </template>
            </card>
            <div class="settings-description">
                <div class="text">
                    Automatically adjust the brightness based on ambient light.
                </div>
            </div>
        </div>
        <div class="row">
            <card title="Auto Software Update" class="settings-item" @onClick="updateAutoSoftwareUpdate(!autoSoftwareUpdate)">
                <template v-slot:rightIcon>
                    <switch-toggle v-model="autoSoftwareUpdate" @onToggle="updateAutoSoftwareUpdate"></switch-toggle>
                </template>
            </card>
            <div class="settings-description">
                <div class="text">
                    Automatically look for updates and update when a new software version is available.
                    Updates are installed at 04.00 am.
                </div>
            </div>
        </div>
        <div class="row">
            <card :title="languageButtonText" class="settings-item">
                <template v-slot:body>
                    <ul>
                        <li v-for="locale in $i18n.availableLocales">
                            <button @click="onLanguageSelected($event, locale)">{{locale}}</button>
                        </li>
                    </ul>
                </template>
            </card>
        </div>
    </div>
</div>