<div :class="cardClasses">
    <div class="card-face" @click="onClick()">
        <div class="left-icon-container" v-if="hasLeftIconContent">
            <slot name="leftIcon" :is-selected="isSelected"></slot>
        </div>
        <div class="title-container">
            <slot name="title">
                <span class="title">{{title}}</span>
            </slot>
            
        </div>
        <div class="right-icon-container" v-if="hasRightIconContent || hasBodyContent && !alwaysExpanded">
            <slot name="rightIcon" class="icon">
                <i v-if="!hasRightIconContent" :class="arrowClasses"></i>
            </slot>
        </div>
    </div>
    <div :class="bodyContainerClasses" v-if="hasBodyContent" @click.stop>
        <slot name="body" class="body" :is-selected="isSelected"></slot>
    </div>
</div>