<div class="profiles-page">
    <h1 class="title">
        {{$t('pages.profiles.title')}}
    </h1>
    <div class="profiles">
        <div class="profiles-container">
            <perfect-scrollbar>
                <div class="add-item">
                    <text-input :value="newProfileName" :watermark="$t('pages.profiles.addNewProfile')" :editMode="true" @onSave="onAddNewProfile"></text-input>
                 </div>
                <card-list @onSelected="onProfileSelected">
                    <card v-for="profile in profiles" :key="profile.id" :data="profile">
                        <template v-slot:title>
                            <text-input class="title" :value="profile.name" @onSave="(value) => onRenameProfile(profile, value)"></text-input>
                        </template>
                        <template v-slot:leftIcon="{ isSelected }">
                            <div :class="getBadgeClasses(isSelected)">
                                {{profile.initial}}
                            </div>
                        </template>
                        <template v-slot:body>
                            <div class="pages-list">
                                <div class="title">
                                    {{$t('pages.profiles.profileList.title')}}
                                </div>
                                <card-list @onSelected="onPageSelected" @onSortUpdate="onPageSortOrderChanged" ref="pageCardList" :dragOptions="pagesDragOptions" :dragList="profile.pages">
                                    <small-card v-for="page in profile.pages" :key="page.id" :title="page.name" :data="page" :iconType="'delete'" @onIconClick="onRemovePage(page)"></small-card>
                                </card-list>
                                <draggable v-bind="dropZoneOptions" :list="dropZoneList" class="page-drop-zone" @add="onPageDropped">
                                    {{$t('pages.profiles.profileList.dropZone')}}
                                </draggable>
                            </div>
                            <action-button class="remove-profile-button" :text="$t('common.delete')" @onClick="onDeleteProfile(profile)"></action-button>
                        </template>
                    </card>
                </card-list>
            </perfect-scrollbar>
        </div>
        <remote-control :message="remoteMessage">
            <edit-favorites v-if="isFavoritesPageSelected" :profile="selectedProfile"></edit-favorites>
            <edit-page v-else-if="!isSettingsPageSelected && !isFavoritesPageSelected && isPageSelected" :page="selectedPage"></edit-page>
        </remote-control>
    </div>
</div>