<div class="profiles-page">
    <h1 class="title">Profiles</h1>
    <div class="profiles">
        <div class="profiles-container">
            <card-list @onSelected="onProfileSelected">
                <card v-for="(profile, index) in profiles" :title="profile.name" :key="index">
                    <template v-slot:leftIcon="{ isSelected }">
                        <div :class="getBadgeClasses(isSelected)">
                            {{profile.initial}}
                        </div>
                    </template>
                    <template v-slot:body>
                        <div class="pages-list">
                            <div class="title">Pages</div>
                            <card-list @onSelected="onPageSelected" ref="pageCardList">
                                <small-card v-for="page in profile.pages" :key="page.id" :title="page.name" :iconType="'delete'" @onIconClick="onRemovePage(page)"></small-card>
                                <drop class="page-drop-zone" :class="{ over: isDraggedOver }"  @drop="onPageDropped" @dragover="onDragOver()" @dragleave="onDragLeave()">
                                    Drag a page here
                                </drop>
                            </card-list>
                        </div>
                    </template>
                </card>
            </card-list>
            <card title="New Profile">
                <template v-slot:leftIcon>
                    <div class="badge">
                        +
                    </div>
                </template>
                <template v-slot:body>
                    <div class="new-profile-container">
                        <input class="name-input" type="text" v-model="newProfileName" />
                        <action-button class="create-button" text="Create" @onClick="createNewProfile()"></action-button>
                    </div>
                </template>
            </card>
        </div>
        <remote-control message="Select a page in a profile to start editing">
            <component :is="remoteScreenComponent" v-bind="remoteScreenComponentProps"></component>
        </remote-control>
    </div>
</div>