<div class="add-integration">
   <action-button v-if="!isAddingNewIntegration" :text="$t('pages.integrations.addIntegration')" :primary="false" @onClick="onAddNewIntegration"></action-button>
   <div v-else>
      <h1 class="title">
         {{$t('pages.integrations.newIntegration')}}
      </h1>
      <div class="setting">
         <div class="setting-name">
            {{$t('common.type').toLowerCase()}}
         </div>
         <div class="setting-value">
            <drop-down :selectedItem="selectedItem" :message="$t('common.pleaseSelect')" :items="typeOptions" @onChanged="onIntegrationTypeChanged"></drop-down>
         </div>
      </div>
      <div v-if="integrationTypeSelected && !isIntegrationTypeSelectedSpotify">
         <div class="setting">
            <div class="setting-name">
               {{$t('common.name').toLowerCase()}}
            </div>
            <div class="setting-value">
               <input class="setting-input" type="input" v-model="name" />
            </div>
         </div>
         <div v-for="(property, key) in properties" class="setting">
            <div class="setting-name">
               {{key}}
            </div>
            <div class="setting-value">
               <input class="setting-input" :placeholder="`example: ${property.examples[0]}`" type="text" v-model="propertyValues[key]" />
            </div>
         </div>
         <action-button :text="$t('common.save')" :primary="true" @onClick="onSave"></action-button>
         <action-button class="right-button" :text="$t('common.cancel')" :primary="false" @onClick="onCancel"></action-button>
      </div>
   </div>
   <spotify v-if="isIntegrationTypeSelectedSpotify"></spotify>
</div>