<div class="add-integration">
   <action-button v-if="!isAddingNewIntegration" text="Add Integration" :primary="false" @onClick="onAddNewIntegration"></action-button>
   <div v-else>
      <h1 class="title">New Integration</h1>
      <div class="setting">
         <div class="setting-name">
            type
         </div>
         <div class="setting-value">
            <drop-down :items="typeOptions" @onChanged="onIntegrationTypeChanged"></drop-down>
         </div>
      </div>
      <div v-if="integrationTypeSelected">
         <div class="setting">
            <div class="setting-name">
               id
            </div>
            <div class="setting-value">
               <input class="setting-input" type="input" v-model="id" />
            </div>
         </div>
         <div class="setting">
            <div class="setting-name">
               friendly name
            </div>
            <div class="setting-value">
               <input class="setting-input" type="input" v-model="name" />
            </div>
         </div>
         <div v-for="(setting, key) in fields" class="setting">
            <div class="setting-name">
               {{key}}
            </div>
            <div class="setting-value">
               <input class="setting-input" type="text" v-model="fields[key]" />
            </div>
         </div>
      </div>
      <action-button text="Save" :primary="true" @onClick="onSave"></action-button>
      <action-button class="right-button" text="Cancel" :primary="false" @onClick="onCancel"></action-button>
   </div>
</div>