<TabContainer ref="tabs">
   <Tab name="Pages">
      <div class="items-container">
         <div class="items-description">
            You can add groups to a page after dragging it under a profile and selecting it.
         </div>
         <div class="items-list-title">
            Available Pages
         </div>
         <div class="items-list">
            <drag
               v-for="(page, index) in pages"
               :transfer-data="page"
               :key="index"
               :effect-allowed="['copy']"
               drop-effect="move"
               :image-x-offset="50"
               :image-y-offset="50">
               <template slot="image">
                  <small-card :title="page.name" style="min-width: 200px;"></small-card>
               </template>
               <small-card :title="page.name" :iconType="getIconType(page)"></small-card>
                  <template v-slot:body v-if="page.groups.length > 0">
                     <ul>
                        <li v-for="(group, index) in page.groups" :key="index">
                           {{group.name}}
                        </li>
                     </ul>
                 </template>
               </small-card>
            </drag>
         </div>
      </div>
   </Tab>
   <Tab name="Groups">
      <div class="items-container">
         <div class="items-description">
            You can add entities to a group after dragging it under a page in the remote view to the left.
         </div>
         <div class="items-list-title">
            Available Groups
         </div>
         <div class="items-list">
            <small-card v-for="(group, index) in groups" :key="index" :title="group.name" :iconType="'delete'">
               <template v-slot:body>
                  <ul>
                     <li v-for="(entity, index) in group.entities" :key="index">
                        {{entity.friendly_name}}
                     </li>
                  </ul>
              </template>
            </small-card>
         </div>
      </div>
   </Tab>
   <Tab name="Entities">
      <div class="items-container">
         <div class="items-description">
            Drag entities to the remote view to add them to favorites or a group.
         </div>
         <ul>
            <li v-for="(entities, entityType) in groupedEntities" :key="entityType">
               <div class="items-list-title">
                  {{entityType}}
               </div>
               <div class="items-list">
                  <small-card v-for="(entity, index) in entities" :key="index" :title="entity.friendly_name">
                  </small-card>
               </div>
            </li>
         </ul>
      </div>
   </Tab>
</TabContainer>