$icomoon-font-family: "icons" !default;
$icomoon-font-path: "../fonts" !default;

$icon-bell: "\e92f";
$icon-warning: "\e930";
$icon-charging: "\e92d";
$icon-low_battery: "\e92e";
$icon-about: "\e928";
$icon-battery: "\e929";
$icon-integration: "\e92a";
$icon-system: "\e92b";
$icon-wifi-bluetooth: "\e92c";
$icon-language: "\e927";
$icon-wifi-01: "\e924";
$icon-wifi-02: "\e925";
$icon-wifi-03: "\e926";
$icon-down-arrow-bold: "\e922";
$icon-up-arrow-bold: "\e923";
$icon-fav-add: "\e920";
$icon-fav-remove: "\e921";
$icon-cool: "\e91e";
$icon-heat: "\e91f";
$icon-circle-full: "\e91a";
$icon-circle: "\e91b";
$icon-square-full: "\e91c";
$icon-square: "\e91d";
$icon-left-arrow: "\e917";
$icon-right-arrow: "\e918";
$icon-up-arrow: "\e919";
$icon-down-arrow: "\e916";
$icon-close: "\e915";
$icon-home1: "\e900";
$icon-light: "\e901";
$icon-link: "\e902";
$icon-music: "\e903";
$icon-next: "\e904";
$icon-pause: "\e905";
$icon-play: "\e906";
$icon-playlist: "\e907";
$icon-power-on: "\e908";
$icon-prev: "\e909";
$icon-radio: "\e90a";
$icon-remote: "\e90b";
$icon-search: "\e90c";
$icon-speaker: "\e90d";
$icon-speakers: "\e90e";
$icon-stairs: "\e90f";
$icon-tv: "\e910";
$icon-weather: "\e911";
$icon-home: "\e912";
$icon-climate: "\e913";
$icon-blind: "\e914";

