.available-entities {
    width: 100%;
    height: 100%;
    background-color: #313246;
    padding: 30px;
    font-family: OpenSans-Light;

    .integration-title {
        font-size: 14px;
        padding: 25px 0 12px;
        border-bottom: 1px solid #0b0b0b;
        color: #FFFFFF;
        text-align: left;
    }

    .integration-list {
        padding: 20px 0;
    }

    .integration {
        font-size: 12px;
        overflow: hidden;
        margin-bottom: 15px;

        .details {
            width: 90%;
            float: left;
        }

        .action {
            width: 10%;
            float: right;
        }

        .id {
            padding: 10px 0;
            color: #FFFFFF;
            text-align: left;
            opacity: 0.5;
        }

        .button {
            position: relative;
            top: -50%;
            transform: translateY(50%);
        }
    }
}