.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.message {
    font-family: OpenSans;
    font-size: 0.8rem;
    color: #555555;
    margin: 30px 0 20px;
}

.editor-container {
    padding-top: 20px;
    height: 100%;
}