<div class="drop-down">
    <div class="selected-item" @click="onToggle()">
        <span>{{selected.text}}</span>
        <i class="arrow" :class="{ down: !isOpen, up: isOpen }"></i>
    </div>
    <ul class="items" v-if="isOpen">
        <perfect-scrollbar>
            <li class="item" :class="{ selected: isSelected(item) }" v-for="item in items" @click="onChanged(item)">
                <div class="text">
                    {{item.text}}
                </div>
                <div class="icon">
                    <div v-if="isSelected(item)" class="selected-tick"></div>
                </div>
            </li>
        </perfect-scrollbar>
    </ul>
</div>