<div class="integration-settings">
   <h1 class="title">Settings</h1>
   <h2 class="integration-title">{{name}}</h2>
   <div v-for="(setting, key) in schema" class="setting">
      <div class="setting-name">
         {{key}}
      </div>
      <div class="setting-value">
         <input class="setting-input" type="text" v-model="updatedSettings[key]" />
      </div>
   </div>
   <action-button text="Save" :primary="true" @onClick="onSave"></action-button>
   <action-button class="right-button" text="Cancel" :primary="false" @onClick="onCancel"></action-button>
</div>