<div class="item-list">
    <draggable v-bind="dragOptions" :list="entitiesListData" @update="onEntitySortOrderChanged($event)">
        <div class="item added" v-for="entity in entities" :key="entity.id">
            <icon :type="entity.type"></icon>
            <div class="name-container">
                <div class="name">{{entity.friendly_name}}</div>
            </div>
            <div class="delete-button-container">
                <action-icon-button @onClick="onEntityRemoved(entity)"></action-icon-button>
            </div>
        </div>
    </draggable>
    <draggable v-bind="dropZoneOptions" :list="dropZoneList" class="item drop-zone" @add="onEntityDropped">
        {{$t('components.editEntities.dropZone')}}
    </draggable>
</div>